<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="baner">
                    <p class="baner__subtitle">Для нянь</p>
                    <p class="baner__title">Як знайти роботу <br>
                        професійною нянею </p>
                    <div class="baner__items ">
                        <a target="_blank" href="#" class="col-sm-12 col-md-4 baner__items_item">
                            <span class="d-flex justify-content-between m-0">
                                <p class="baner__items_item-title">Створіть <br> профіль няні
                                </p>
                                <img class="baner__items_item-img" src="img/Vectorinfo.png" alt="">
                            </span>
                            <p class="baner__items_item-subtitle">Заповніть анкету няні, додайте фото, <br> опішить своі
                                сильні сторони
                            </p>
                        </a>
                        <a target="_blank" href="#" class="col-sm-12 col-md-4 baner__items_item">
                            <span class="d-flex justify-content-between m-0">
                                <p class="baner__items_item-title">Реагуйте на <br>
                                    оголошення про роботу</p>
                                <img class="baner__items_item-img" src="img/Vectorinfo.png" alt="">
                            </span>
                            <p class="baner__items_item-subtitle">Знаходьте оголошення поруч з вами та <br> обговорюйте
                                умови з роботодавцем
                            </p>
                        </a>
                        <a target="_blank" href="#" class="col-sm-12 col-md-4 baner__items_item">
                            <span class="d-flex justify-content-between m-0">
                                <p class="baner__items_item-title">Знайдіть вашого <br> вихованця </p>
                                <img class="baner__items_item-img" src="img/Vectorinfo.png" alt="">
                            </span>
                            <p class="baner__items_item-subtitle">Обговоріть деталі співпраці, сформуйте <br> договір за
                                допомогою сайту </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>