<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                <h2 class="blog__title">Свіже в блозі</h2>
                <span>
                    <a target="_blank" href="#"><img class="blog__stroke" src="img/Vectorblog1.png" alt=""></a>
                    <a target="_blank" href="#"><img class="blog__stroke" src="img/Vectorblog2.png" alt=""></a>
                </span>
            </div>
            <div class="col-12">
                <div class="blog__tabs">
                    <a id="tab-1" class="blog__tabs_tab active"  data-tabs="1">Все</a>
                    <a id="tab-2" class="blog__tabs_tab"  data-tabs="2">Авторські статті</a>
                    <a id="tab-3" class="blog__tabs_tab" data-tabs="3">Дослідження</a>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="blog__card" data-tabs="1">
                    <div class="blog__card_imgfirst"></div>
                    <h2 class="blog__card_title">Як вибрати няню для дитини?</h2>
                    <p class="blog__card_date">8 червня</p>
                    <a class="blog__card_btn" target="_blank" href="#">поради</a>
                    <a class="blog__card_btn" target="_blank" href="#">корисне</a>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="blog__card" data-tabs="2">
                    <div class="blog__card_imgnext"></div>
                    <h2 class="blog__card_title">Як вибрати няню для дитини?</h2>
                    <p class="blog__card_date">8 червня</p>
                    <a class="blog__card_btn" target="_blank" href="#">поради</a>
                    <a class="blog__card_btn" target="_blank" href="#">корисне</a>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="blog__card" data-tabs="3">
                    <div class="blog__card_imglast"></div>
                    <h2 class="blog__card_title">Як вибрати няню для дитини?</h2>
                    <p class="blog__card_date">8 червня</p>
                    <a class="blog__card_btn" target="_blank" href="#">поради</a>
                    <a class="blog__card_btn" target="_blank" href="#">корисне</a>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <a target="_blank" href="#" class="blog__button">
                    <p>Читати більше</p> <img class="blog__button_img" src="img/Vectorcom.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>