<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="community__title">Спільнота</div>
        </div>
        <div class="col-12">
            <div class="community__subtitle">Обмін досвідом, спілкування, рекомендації</div>
        </div>
        <div class="col-6">
            <div class="community__line"></div>
        </div>
        <div class="col-6">
            <div class="community__line"></div>
        </div>
        <div class="col-6">
            <div class="community__subtitle_last">Популярне на форумі</div>
            <span class="community__block">
                <div class="community__block_date">8 червня · Різне</div>
                <a target="_blank" href="#" class="community__block_questions">Якого віку повинна бути відповідальна
                    няня?</a>
                <div class="community__block_date">8 червня · Різне</div>
                <a target="_blank" href="#" class="community__block_questions">З якого віку дитина готова для того аби
                    її залишати наодинці з нянею?</a>
                <div class="community__block_date">8 червня · Різне</div>
                <a target="_blank" href="#" class="community__block_questions">Якого віку повинна бути відповідальна
                    няня?</a>
                <div class="community__block_date">8 червня · Різне</div>
                <a target="_blank" href="#" class="community__block_questions">Якого віку повинна бути відповідальна
                    няня?</a>
                <div class="community__block_date">8 червня · Різне</div>
                <a target="_blank" href="#" class="community__block_questions">З якого віку дитина готова для того аби
                    її залишати наодинці з нянею?</a>
                <div class="community__block_date">8 червня · Різне</div>
                <a target="_blank" href="#" class="community__block_questions">Якого віку повинна бути відповідальна
                    няня?</a>
        </div>
        </span>
        <div class="col-6">
            <div class="community__subtitle_last">Обговорюють зараз</div>
            <div class="community__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod
                tempor
                incididunt ut labore et dolore magna aliqua. Ut enim <br> ad minim veniam, quis nostrud exercitation
                ullamco
                laboris nisi ut <br> aliquip ex ea commodo consequat. </div>
            <span class="d-flex align-items-center mt-4">
                <div class="community__img"> </div>
                <a target="_blank" href="#" class="community__name">Юлія К.</a>
                <div class="community__status">в топіку</div>
                <p class="community__advice">“Поради, як не промахнутись з вибором няні”</p>
            </span>
            <div class="community__text_next">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br>
                eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
            <span class="d-flex align-items-center mt-4">
                <div class="community__img_last"> </div>
                <a target="_blank" href="#" class="community__name">Юлія К.</a>
                <div class="community__status">в топіку</div>
                <p class="community__advice">“Поради, як не промахнутись з вибором няні”</p>
            </span>
            <div class="community__text_last">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <br> eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim <br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <br> aliquip
                ex ea commodo consequat.
            </div>
            <span class="d-flex align-items-center mt-4">
                <div class="community__img"> </div>
                <a target="_blank" href="#" class="community__name">Юлія К.</a>
                <div class="community__status">в топіку</div>
                <p class="community__advice">“Поради, як не промахнутись з вибором няні”</p>
            </span>
        </div>
    </div>
</div>