<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex align-items-center">
                <a class="header__logo" target="_blank" href="#"><img src="img/MOMSEEK.SVG" alt=""> <img class="header__logo_img"
                        src="img/WORLD.png" alt="">
                <p class="header__logo_text">Українська</p>
                <img class="header__logo_img-next"src="img/headerstroke.png" alt=""></a>
            </div>
        </div>
    </div>
</header>