<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-8 hero__title">Батьки вільні, діти доглянуті</div>
            <div class="col-4 hero__img"><img src="img/video.svg" alt=""></div>
            <div class="col-10 hero__subtitle">сервіс для пошуку нянь поблизу</div>
            <div class="col-3">
                <a class="hero__btn-first" target="_blank" href="#">Шукаю няню <img src="img/stroke.png" alt=""></a>
            </div>
            <div class="col-5">
                <a class="hero__btn-next" target="_blank" href="#"><img class="hero__btn-next__img"
                        src="img/heromap.png" alt=""> Київ, Україна <img class="hero__btn-next__img-next" src="img/stroke.png" alt=""></a>
            </div>
        </div>
    </div>