a {
    text-decoration: none;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;


    &__logo {
        display: flex;
        align-items: center;

        &_img {
            margin-left: 32px;
        }

        &_img-next {
            height: 6px;
            width: 8px;
            margin-left: 8px;
        }
    }

    &__lang {
        width: 51px;
        height: 22px;
        display: none;
        background: #FFFFFF;
        border-radius: 12px;
        font-weight: 400;
        font-size: 13px;
        color: #000000;
        border: 1px solid #FFFFFF;
    }

    &__mobile-button_first {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        background: #1E3173;
        border-radius: 24px;
    }

    &__mobile-button_first span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
        margin-top: 5px;
    }

    &__mobile-button_last {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        margin-left: 14px;
        margin-right: -10px;
        border: 2px solid #1E3173;
        border-radius: 24px;
    }

    &__mobile-button_last img {
        margin-top: 5px;
        margin-left: 5px;
    }

    &__logo_text {
        margin-left: 12px;
        font-size: 14px;
        color: #000000;
    }

    &__button_first {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 245px;
        padding: 14px 15px 14px;
        background: #1E3173;
        border-radius: 24px;
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;
    }

    &__button_last {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px 14px;
        border: #1E3173 1px solid;
        border-radius: 24px;
        font-weight: 600;
        font-size: 18px;
        color: #1E3173;
        width: 180px;
        margin-left: 20px;
    }

    &__img-last {
        margin-left: 34px;
        height: 16px;
        width: 12px;
    }

    &__text {
        font-weight: 600;
        font-size: 18px;
        color: #000000;
        margin-left: 18px;
    }

    @media screen and (max-width:992px) {
        &__button_first {
            display: none;
        }

        &__button_last {
            display: none;
        }

        &__mobile-button_first {
            display: block;
        }

        &__mobile-button_last {
            display: block;
        }

    }

    @media screen and (min-width:992px) {
        &__mobile-button_first {
            display: none;
        }

        &__mobile-button_last {
            display: none;
        }
    }

    @media screen and (max-width:768px) {
        & {
            height: 60px;
        }

        &__logo_img {
            display: none;
        }

        &__logo_img-next {
            display: none;
        }

        &__logo_text {
            display: none;
        }

        &__lang {
            display: block;
            margin-left: 10px;
        }

    }

    @media screen and(max-width:576px) {
        &__logo img {
            width: 90px;
        }
    }



}