.hero {
    background: linear-gradient(102.5deg, #FFF6DA 0%, #FFDEF2 100%);
    height: 458px;

    &__title {
        font-weight: 700;
        font-size: 56px;
        color: #000000;
        line-height: 120%;
        margin-top: 154px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 32px;
        color: #000000;
        line-height: 38px;
        margin-top: -50px;
    }

    &__img {
        display: flex;
        justify-content: end;
        margin-top: 154px;
    }

    &__btn-first {
        margin-top: 54px;
        background: #ffffff;
        border-radius: 32px;
        padding: 20px 26px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }
    &__btn-next {
        margin-top: 54px;
        background: #ffffff;
        border-radius: 32px;
        padding: 20px 26px;
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }

    &__btn-first_img {
        width: 16px;
        height: 8px;
    }

}