.info {
    position: relative;
    top: 124px;
    padding: 40px 40px 20px;
    height: 520px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 12px;
    background-image: url('../img/infoimg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__subtitle {
        margin-left: 10px;
        font-weight: 700;
        font-size: 22px;
        color: #FFFFFF;
    }

    &__title {

        font-weight: 800;
        font-size: 64px;
        color: #FFFFFF;
        margin-top: 28px;
    }

    &__items {
        display: flex;
        margin-top: 135px;
        width: 94%;

        :first-child {
            margin-right: 19px;
        }

        :nth-child(2) {
            margin: 0px 19px;
        }

        :last-child {
            margin-left: 19px;
        }

        &_item {
            background: #1E3173;
            border-radius: 12px;
            height: 140px;
            padding: 18px 20px 22px 22px;
            color: #FFFFFF;

            &-title {
                font-weight: 800;
                font-size: 24px;
                margin: 0 !important;
            }

            &-subtitle {
                font-weight: 400;
                font-size: 16px;
                margin: 18px 0 0 0 !important;
            }

            &-img {
                height: 14px;
                width: 14px;
                margin: 0 !important;
            }
        }

    }
}