.info {
    position: relative;
    top: 124px;
    padding: 40px 40px 20px;
    height: 520px;
    max-width: 100%;
    min-width: 100%;
    border-radius: 12px;
    background-image: url('../img/infoimg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__subtitle {
        margin-left: 10px;
        font-weight: 700;
        font-size: 22px;
        color: #FFFFFF;
    }

    &__title {

        font-weight: 800;
        font-size: 64px;
        color: #FFFFFF;
        margin-top: 28px;
    }

    &__items {
        display: flex;
        margin-top: 135px;
        width: 94%;

        :hover {
            background: #FFFFFF;
            color: #1E3173;
            transition: 0.5s all;
        }

        :first-child {
            margin-right: 19px;
        }

        :nth-child(2) {
            margin: 0px 19px;
        }

        :last-child {
            margin-left: 19px;
        }

        &_item {
            background: #1E3173;
            border-radius: 12px;
            height: 140px;
            padding: 18px 20px 22px 22px;
            color: #FFFFFF;
            transition: 0.8s all;

            &-title {
                font-weight: 800;
                font-size: 24px;
                margin: 0 !important;

                @media screen and(max-width:1400px) {
                    font-size: 20px;
                }

                @media screen and(max-width:1200px) {
                    font-size: 16px;
                }
            }

            &-subtitle {
                font-weight: 400;
                font-size: 16px;
                margin: 18px 0 0 0 !important;
            }

            &-img {
                height: 14px;
                width: 14px;
                margin: 0 !important;
            }
        }

    }

    @media screen and(max-width:1400px) {
        &__title {
            font-size: 44px;
        }

        &__items {
            margin-top: 170px;
        }
    }

    @media screen and(max-width:1200px) {
        &__items {
            width: 92%;
        }
    }

    @media screen and(max-width:992px) {
        &__title {
            font-size: 36px;
        }

        &__items {
            margin-top: 155px;
            width: 90%;

            &_item {
                height: 180px;
            }
        }
    }

    @media screen and(max-width:767px) {

        & {
            background: #1E3173;
            height: 570px;
            border-radius: 12px;
            margin-top: 0px;
            padding: 0px 25px;

            &__title {
                margin-top: 18px;
            }

            &__subtitle {
                margin: -40px 0px 0px 0px;
                padding-top: 18px;
            }

            &__items {
                display: flex;
                flex-direction: column;
                margin-top: 38px;
                width: 100%;

                :hover {
                    background: #774FA4;
                    color: #FFFFFF;
                    ;
                    transition: 0.5s all;
                }

                :first-child {
                    margin-right: 0px;
                    margin-bottom: 10px;
                }

                :nth-child(2) {
                    margin: 0px 0px 10px;
                }

                :last-child {
                    margin-left: 0px;
                }

                &_item {
                    background: #FFFFFF;
                    color: #1E3173;
                    height: 130px;

                    &-title {
                        font-size: 20px;
                    }

                    &-subtitle {
                        font-size: 14px;
                    }
                }
            }
        }

    }
    @media screen and(max-width:536px) {
        & {
            height: 605px;
        }
    }
}
